.layout-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding: 3rem 2rem;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #7b0039;
}

.container {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  will-change: contents;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.tags {
  position: absolute;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore';
  color: #ffd700;
  opacity: 0.6;
}

.top-tags {
  top: 35px;
}

.bottom-tags {
  bottom: 0;
}

.bottom-tag-html {
  margin-left: -20px;
}

.abt-page,
.contact-page,
.work-page,
.portfolio-page {
  .text-zone {
    position: relative;
    left: 10%;
    width: 35%;
    max-height: 90%;
    display: block;

    h1 {
      font-size: 53px;
      color: #ffffff;
      font-family: 'Coolvetica';
      font-weight: 400;
      margin-top: 50px;
      margin-bottom: 40px;
      white-space: nowrap;
    }

    p {
      font-size: 14px;
      color: #fff;
      font-family: 'Coolvetica';
      font-weight: 500;
      min-width: fit-content;
      animation: pulse 3s;
    }

    .text-animate-hover:hover {
      color: #fff;
    }
  }
}
